h1 {
    text-align: center;
    margin-top: 30px;
}

.hang-pictures {
    height: 300px;
    width: 150px;

}

.new-game {
    margin-left: 60px;
}

.row {
    margin-top: 30px;
}

.abc-btn {
    margin:20px;
    height: 60px;
    width: 60px;
}

.lines {
    border-bottom: 5px black solid;
    width: 40px;
    margin-right: 10px;

}

#wordline {
    margin-top: 80px;
    margin-left: 33%;
}