{% extends "layout.html" %}

{% block content %}
<div>
    <button style="display: none" id="new-game-button" type="button" class="btn btn-outline-primary">New game</button>
    <div class="row">
        <div class="col">
            <div class="hang-pictures">
                <img id="pict" src="../static/hangman1.png">
            </div>
        </div>
        <div class="col abc-buttons" id="butts">
            <div>
                <button id="play-button" type="button" class="btn btn-outline-primary play-game">Play game</button>
            </div>
            <div>
                <button id="sign-up-button" type="button" class="btn btn-outline-primary">Sign up</button>
            </div>
            <div>
                <button id="sign-in-button" type="button" class="btn btn-outline-primary">Login</button>
            </div>
            <div class="abc-button" style="display: none">
                <button id="abc-buttons" type="button" class="btn btn-primary abc-btn">A</button>
            </div>
        </div>
    </div>
</div>
<div class="row" id="wordline" style="display: none">
    {% for line in range(first_name_length) %}
    <div class="lines" id={{ line }}>
    </div>
    {% endfor %}
    {% for line in range(last_name_length+1) %}
    <div class="lines last_name" id={{ first_name_length-1+line }}>
    </div>
    {% endfor %}
</div>
<div id="word" >{{ first_name+last_name }}</div>
{% endblock %}